html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

header {
    background-image: url(/../assets/images/slide02.jpg);
    background-size: 1500px 850px;
    background-position: 200% 11%;
    background-color: rgba(0,0,0,0);
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 200%;
    }

    to {
        margin-left: -80px;
        width: 100%;
    }
}

.about {
    height: 650px;
    display: flex;
    margin-right: 80px;
    animation-duration: 2s;
    animation-name: slidein;
    justify-content: flex-end;
}
.header-title {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 30px;
}
.header-about {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.form-group {
    margin: 0;
    z-index: 1;
}

.non-rect {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI3NXB4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTY0MCAxMzlMMCAwdjE0MGgxMjgwVjBMNjQwIDEzOXoiLz48L2c+PC9zdmc+);
    background-size: 100% 85px;
    bottom: 0;
    height: 85px;
    z-index: 10;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 6px 0 15px;
    align-items: center;
}
.logo {
    width: 110px;
    height: 80px;
    margin-left: 150px;
}

.header-block-list {
    display: flex;
    margin-right: 5px;
    width: 100%;
    justify-content: center;
}

.header-block {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.header-block-icon {
    width: 30px;
    height: 30px;
    margin-right: 12px;
}
.header-txt {
    margin: 0;
    text-decoration: none;
    color: #5f1f8e;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    font-size: 18px;
}

.header-txt:before, .header-txt:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #5f1f8e;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.header-txt:before {
    top: 0;
    transform: translateY(10px);
}

.header-txt:after {
    bottom: 0px;
    transform: translateY(-10px);
}

.header-txt:hover:before, .header-txt:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

.form-style-6{
    font: 95% Arial, Helvetica, sans-serif;
    min-width: 400px;
    max-width: 450px;
    padding: 30px;
    background: #F7F7F7;
    margin-top: 30px;
}
.form-style-6 h1{
    padding: 10px 0 3px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: #5d009f;
    margin: -16px -16px 0 -16px;
}
.form-style-6 h4{
    padding: 0 0 10px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    color: #5d009f;
    margin: 0 0 0;
}
/*.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 input[type="tel"],
.form-style-6 textarea,
.form-style-6 select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}*/
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 input[type="tel"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
    box-shadow: 0 0 5px #602887;
    padding: 3%;
    border: 1px solid #602887;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #360786;
    border-bottom: none;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    margin: 16px 0;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: #8a4ab8;
}
.ticks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 150px;
    margin-top: 30px;
    animation: animatetop 2s;
}
.ticks-title {
    font-size: 54px;
    color: #ffd700;;
    font-weight: 900;
    margin: 0 0 15px;
    animation-duration: 3s;
}
.ticks-txt {
    font-size: 44px;
    color: #4e317c;
    font-weight: 500;
    margin: 0 0 53px;
}

.ticks-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block {
    width: 450px;
    display: flex;
    align-items: center;
    margin-bottom: 55px;
}

.block-img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.block-txt {
    display: flex;
    flex-direction: column;
}
.block-title {
    font-size: 23px;
    margin: 0 0 10px;
    color: #7f38b1;
}
.block-detail {
    font-size: 18px;
    margin: 0;
}

.navblock {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navblock-block1 {
    height: 60px;
    width: 100px;
    background-color: #F5F5F5;
    margin-right: 30px;
}
.navblock-block2 {
    height: 60px;
    width: 100px;
    background-color: #F5F5F5;
}

.aboutUs {
    display: flex;
    flex-direction: column;
}
.about-title {
    font-size: 50px;
    color: #ffd700;
    line-height: 70px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin-top: 25px;
}
.about-section{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    color: #7f38b1;
}

.about-section {
    display: flex;
}

.about-txt {
    width: 500px;
    margin-right: 150px;
    font-size: 18px;
    padding-top: 18px;
}

.about-img {
    width: 500px;
}

.nav-block-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 15px 0;
}

.allBlock {
    display: flex;
}

.nav-block {
    display: flex;
    align-items: center;
    margin-right: 60px;

    height: 80px;
}

.nav-block-icon {
    width: 30px;
    height: 30px;
    margin-right: 12px;
}
.nav-block-txt {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 15px;
    color: #5f1f8e;
    font-family: "Anton";
}
.nav-block-txt:hover {
    cursor: pointer;
}
.modal-content-txt-active {
    margin-top: 12px;
    color: #4b0082;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}
.second-block-header {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI3NXB4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTY0MCAxMzlMMCAwdjE0MGgxMjgwVjBMNjQwIDEzOXoiLz48L2c+PC9zdmc+);
    background-size: 100% 40px;
    bottom: 0;
    height: 40px;
    z-index: 10;
    background-color: #F7F7F7;
    transform: rotate(180deg);
    margin-top: 10px;
}

.second-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
}
.ourServices{
    display: flex;
    width: 100%;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    color: #7f38b1;
    flex-direction: column;
}

.ourServices-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.ourServices-section-titles {
    display: flex;
    justify-content: center;
}
.ourServices-section-titles-ttl {
    border-color: #e3e3e3;
    background-color: #ebebeb;
    color: #1f074e;
    margin-right: 5px;
    padding: 14px 20px;
    font-size: 1.17em;
}
.ourServices-section-titles-ttl:hover {
    cursor: pointer;
    background-color: #B9B9B9;
}

.ourServices-title {
    font-size: 50px;
    color: #ffd700;
    line-height: 70px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    width: 100%;
}

.ourServices-img {
    width: 500px;
}

.service-text {
    display: none;
    border-color: #f0f0f0;
    background-color: #f8f8f8;
    width: 1000px;
    padding: 20px 50px;
    font-size: 20px;
    color: #7f38b1;
    text-align: center;
}
.service-list-text {
    color: #555555;
    text-align: left;
    font-size: 17px;
    margin-top: 20px;
}

.call {
    height: 60px;
    background-color: #360786;
    padding: 10px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.call-txt {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    font-family: Ubuntu;
    font-weight: 400;
    font-style: normal;
    margin-right: 100px;
}
.call-btn {
    font-size: 20px;
    font-weight: bold;
    border: solid 2px #ffd700;
    background-color: #ffd700;
    color: white;
    height: 30px;
}

.call-btn:hover {
    cursor: pointer;
    color: #1f074e;
}

.images {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.imgService {
    width: 300px;
    margin-right: 80px;
}

.imgService1 {
    margin: 0;
    width: 300px;
}

.partners {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    background-color: #F7F7F7;
}
.partner-img {
    width: 200px;
    margin-right: 70px;
}

.partner-img:hover {
    background-color: #e9e9e9;
}

.comments {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
.comments-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.comments-block-img {
    width: 500px;
    margin-right: 150px;
}

.bottom-block1 {
    background-color: #252525;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: 25% 90%;
    background-image: url(/../assets/images/fon.jpg);
    display: flex;
    justify-content: space-between;
    padding: 35px;
}
.left-block {
    display: flex;
    flex-direction: column;
    width: 350px;

}
.left-block-title {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 20px 0;
}
.left-block-txt {
    font-size: 15px;
    color: white;
}
.right-block {
    display: flex;
    flex-direction: column;
}
.phone-block {
    display: flex;
    align-items: center;
}
.bottom-icon {
    width: 20px;
    height: 20px;
    fill: #ffd700;
    margin-right: 20px;
}
.bottom-txt {
    font-size: 15px;
    color: white;
}

.center-block {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    justify-content: center;
    align-items: center;
}

.center-block-img {
    width: 300px;
    margin-bottom: 30px;
}

.center-block-btn {
    padding: 10px 30px;
    color: #4B0082;
    font-weight: 600;
    background-color: #ffd700;
    border: none;
    width: 200px;
    border-radius: 8px;
}
.center-block-btn:hover {
    cursor: pointer;
    outline: none;
}

footer {
    background-color: #252525;
    padding: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-class {
    margin: 0 0 0 100px;
    color: #ffff;
    font-weight: 700;
    font-size: 15px;
}

@keyframes example {
    from {top: -500px; opacity: 0.1;}
    to {top: 200px;}
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 16px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    position: relative;
    animation: animatetop 0.7s;
}

@keyframes animatetop {
    0% {
        top: -300px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content-txt {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: #2d2d2d;
}

.call-tel {
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: fixed;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

.dropdown-content-header {
    background-color: #555555;
    padding: 12px;
    color: white;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color:  #F7F7F7;
    display: flex;
    flex-direction: column;
    border-right: 1px solid ;
    justify-content: center;
    align-items: center;
}

.column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover {
    background-color: #ddd;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {
    display: flex;
}

.locations {
    margin: 0;
}

.allSect {
    display: flex;
}

.column-ttl {
    font-family: 'Ubuntu', sans-serif;
    color: #7f38b1;
    font-size: 18px;
}

.mobile-nav {
    display: none;
}
.user-comments {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.user-comments-title {
    font-size: 50px;
    color: #ffd700;
    line-height: 70px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    width: 100%;
    margin: 0 0 10px;
}

.comment-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.comment {
    width: 1000px;
    padding: 10px 25px;
    background-color: #F5F5F5;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.cmnt {
    font-size: 18px;
}
.user-name {
    font-size: 15px;
    color: #5f1f8e;
    font-family: "Anton", monospace;
    text-align: right;
}

.dots {
    display: flex;
    margin-bottom: 16px;
}
.dot {
    border-radius: 100%;
    background-color: #2c2c2c;
    color: #2c2c2c;
    margin-right: 15px;
    padding: 5px;
    font-size: 2px;
    width: 16px;
    height: 16px;
}
.dot:hover {
    cursor: pointer;
    background-color: #4a4a4a;
}
@media only screen and (max-width: 1200px) {
    .header-txt {
        margin: 0;
        text-decoration: none;
        color: #5f1f8e;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: bold;
        padding: 10px 10px;
        position: relative;
        z-index: 0;
        cursor: pointer;
        font-size: 18px;
    }

    .header-txt:before, .header-txt:after {
        opacity: 0;
    }

    .header-txt:before {

    }

    .header-txt:after {

    }

    .header-txt:hover:before, .header-txt:hover:after {
        opacity: 0;
    }

    header {
        border-bottom-left-radius: 50% 20%;
        border-bottom-right-radius: 50% 20%;
        background-image: url(/../assets/images/slide02.jpg);
        background-size: 100% 120%;
        background-position: 0 36%;
        background-color: rgba(0,0,0,0);
    }
    .nav-block-list {
        justify-content: center;
    }
    .logo {
        width: 70px;
        height: 55px;
        margin: 0;
    }
    .allBlock {
        display: none;
    }
    .about {
        position: absolute;
        height: auto;
        margin: 0;
        padding: 10px;
        animation: none;
        width: 100%;
    }
    .form-style-6 {
        margin: 0;
        padding: 15px 10px;
        width: 100%;
        height: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    .form-style-6 h1 {
        font-size: 12px;
    }
    .form-style-6 h4 {
        font-size: 10px;
    }
    .form-style-6 input[type="text"], .form-style-6 input[type="date"], .form-style-6 input[type="datetime"], .form-style-6 input[type="email"], .form-style-6 input[type="number"], .form-style-6 input[type="search"], .form-style-6 input[type="time"], .form-style-6 input[type="url"], .form-style-6 input[type="tel"], .form-style-6 textarea, .form-style-6 select {
        font-size: 10px;
    }

    .header-block-list {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }

    .header-block {
        margin: 0;
    }

    .header-txt {
        font-size: 10px;
        padding: 0 8px 0 0;
    }

    .navbar {
        height: 190px;
        margin-bottom: 0;
    }

    .non-rect {
        display: none;
    }

    .aboutUs {
        margin-top: 10px;
    }
    .about-title {
        font-size: 30px;
        margin-top: 10px;
    }

    .about-txt {
        width: 300px;
        margin-right: 0;
        font-size: 12px;
        text-align: center;
    }
    .about-txt p {
        margin: 0 0 10px;
        padding: 15px;
    }
    .about-img {
        display: none;
    }
    .partners {
        margin: 0;
    }
    .partner-img {
        width: 60px;
        margin-right: 10px;
    }
    .ticks {
        padding: 0 10px;
    }
    .ticks-title {
        font-size: 20px;
        margin-bottom: 5px;
    }
    .ticks-txt {
        font-size: 10px;
        margin: 0 0 15px;
    }
    .ticks-block {
        display: flex;
        flex-direction: column;
    }
    .block {
        width: 100%;
        margin-bottom: 10px;
    }
    .block-img {
        width: 18px;
        height: 18px;
    }
    .block-title {
        font-size: 13px;
        margin: 0 0 5px;
    }
    .block-detail {
        font-size: 9px;
    }
    .call {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .call-txt {
        font-size: 11px;
        margin-bottom: 10px;
        margin-right: 0;
    }
    .call-btn {
        height: auto;
    }
    .call-btn-txt {
        font-size: 12px;
        font-weight: bold;
        color: #7f38b1;
        text-decoration: none;
    }
    .second-block-header {
        height: 25px;
        margin-top: 0;
    }
    .images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }
    .imgService, .imgService1 {
        width: 200px;
        margin: 0 0 10px 0;
    }
    .ourServices-title {
        font-size: 30px;
    }
    .service-text {
        width: auto;
        height: auto;
        font-size: 12px;
        padding: 0 10px;
    }
    .service-list-text {
        color: #555555;
        text-align: left;
        font-size: 10px;
        margin-top: 20px;
    }
    .ourServices-section-titles-ttl {
        font-size: 12px;
        width: 150px;
        text-align: center;
    }
    .ourServices-section-titles {
        width: 100%;
        justify-content: flex-start;
    }
    .ourServices-section-titles-list {
        overflow-x: auto;
        width: 100%;
    }
    .comments-block {
        flex-direction: column;
    }
    .comments-block-img {
        display: none;
    }
    .call-tel {
        text-align: center;
        padding: 15px;
        font-size: 12px;
    }
    .bottom-block1 {
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left-block {
        display: flex;
        flex-direction: column;
        width: 250px;
        text-align: center;
    }
    .left-block-title {
        font-size: 14px;
        font-weight: bold;
        color: white;
        margin: 13px 0;
    }
    .left-block-txt {
        font-size: 12px;
        color: black;
        font-weight: bold;
    }
    .center-block-btn {
        font-size: 10px;
        padding: 5px 28px;
    }
    .center-block-img {
        width: 200px;
        margin-bottom: 7px;
    }
    .bottom-txt {
        margin: 5px 0;
    }
    .right-block {
        margin-bottom: 15px;
    }
    .footer-class {
        font-size: 12px;
        text-align: center;
        margin: 0;
        width: 100%;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .column {
        width: 100%;
        border: none;
        padding: 0;
    }
    .column-ttl {
        font-size: 15px;
        margin: 10px 0;
    }
    .column a {
        padding: 8px;
    }
    .mobile-nav {
        margin-top: 530px;
        display: flex;
        justify-content: center;
    }
    .nav-block {
        display: flex;
        align-items: center;
        height: 80px;
        margin-right: 12px;
    }

    .nav-block-icon {
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }

    .nav-block-txt {
        padding: 0;
        margin: 0;
        text-decoration: none;
        font-size: 13px;
        color: #5f1f8e;
        font-family: "Anton", monospace;
    }

    .modal-content {
        width: 270px;
        z-index: 100000;
    }
    .modal-content-txt {
        font-size: 15px;
    }
    .select2-container--krajee .select2-selection--single .select2-selection__placeholder {
        font-size: 10px;
    }
    .help-block {
        margin: 0;
    }
    label {
        font-size: 12px;
    }
    .user-comments-title {
        font-size: 20px;
        line-height: 28px;
    }

    .comment {
        width: 100%;
    }

    .cmnt {
        font-size: 12px;
    }
    .user-name {
        font-size: 13px;
    }
    .dots {
        display: none;
    }
}
